<%- include ('partials/header.ejs') %>

<body>
	
	<%- include ('partials/navbar.ejs') %>
	<div class="container">
		<br>
		<h1><%= question.titulo %></h1>
		<p><%= question.descrição  %></p>
		<hr>
	</div>

</body>

<% include ('partials/footer.ejs') %> 