<%- include ('partials/header.ejs') %> 

<body>

	<%- include ('partials/navbar.ejs') %>

	<div class="container">

		<div class="card" id="formulario-topo">

			<div class="card-header">
				<h3>Realizar pergunta</h3>
			</div>

			<div class="card-body">
				<form method="POST" action="/salvarPergunta">
					<label for="tituloPerguntar">Título</label>
					<input name="title" type="text" placeholder="Título" class="form-control" id="tituloPerguntar">
					<br> <label for="descPerguntar">Descrição</label>
					<textarea name="desc" placeholder="Descreva sua pergunta" class="form-control" id="descPerguntar"></textarea>
					<br> <button class="btn btn-primary">Perguntar</button>
				</form>
			</div>

		</div>

	</div>

</body>

<%- include ('partials/footer.ejs') %>
